html {
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }


body {
  background: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: var(--font-primary);
}

a {
  color: var(--text-color-primary);
}

@media (max-width: 767px) {
  html {
    font-size: 74%;
  }
}