.section-review__wrapper {
    padding-top: 1.5625rem;
    border-top: 2px solid var(--border-color-primary);
}

.section-review__title {
    margin-bottom: 1.875rem;
}

@media (max-width: 767px) {
    .section-review {
        padding-top: 1.5625rem;
        padding-bottom: 3.125rem;
    }
    
    .section-review__wrapper {
        padding-top: 0px;
        border-top: none;
    }

    .section-review__title {
        margin-bottom: 4.375rem;
    }
}