.input {
    border: none;
    background-color: var(--bg-color-form);
    border: 1px solid transparent;
    outline: none;
    border-radius: 0.625rem;
    min-height: 3.125rem;
    width: 14.875rem;
    padding: 0.9375rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.9375rem;
}

.input--textarea {
    min-height: 9.125rem;
    width: 100%;
}

.input--select {
    display: block;
    color: var(--text-color-form);
}

.input::placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.9375rem;
    color: var(--text-color-form);
}

@media (max-width: 767px) {
    .input {
        width: 100%;
    }
}



